
body
{

}
.head
{
	width: 95%;
	height: 30px;
	background-color: #ccffff;
	padding: 20px;
	border-radius: 20px;
	border-width: 5px;
	border-color: red;
}
.a
{
		background-image: url('b18.jpg');
    	position: absolute;
	left:35%;
	top: 19%;
	 background-color: lightgrey;
    width: 450px;
    height: 500px;
    padding: 25px;
    border: 25px inset #0000ff;


    margin: 25px;
}
.a:hover{
    border: 25px inset #33d6ff;
    

}

.head h1{
	text-align: center;
	position: absolute;
	top: 10px;
	left: 50%;
}
.button {
    background-color: navy ; 
    border:5px solid white;
    border-radius: 35px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:  #ffffcc; 
  	color: black;

    border:6px solid navy;
    text-decoration-color: black;

}