
body
{

}
.head
{
	width: 95%;
	height: 30px;
	background-color: #ccffff;
	padding: 20px;
	border-radius: 20px;
	border-width: 5px;
	border-color: red;
}
.a
{
		background-image: url('gpp.jpg');
	position: absolute;
	left:40%;
	top: 10%;
	 background-color: lightgrey;
    width: 300px;
    height: 400px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
.head h1{
	text-align: center;
	position: absolute;
	top: 10px;
	left: 50%;
}
.button {
    background-color: #ff8566; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:  #ffffcc; 
  	color: black;
    text-decoration-color: black;

}